.category-img{
  height:250px;
  border:0px solid lightgray;
}
.btn-text{
  font-family:Arial, Tahoma,;
  color:#fff;
}
.admin-actions, .actions{
  border:0px solid red;
  height: 30px;
  margin-top:5px;
}
.img-height{
  height: 250px;
}
